
<head>
    <link rel="stylesheet" type="text/css" media="print" href="print.css">

</head>
<% if current_user.admin? %>
<div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Adaptiv-IT</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
              <li><%= link_to("En", "/punetoris/index/?lan=en") %></li>
              <li><%= link_to("Al", "/punetoris/index/?lan=al") %></li>
              <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <b class = "numri">
                        <%if Formulari.where(status_id: 1).count>0%>
                            <%=Formulari.where(status_id: 1).count%>
                        <%end%>
                        </b>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu alert-dropdown">
                          <%Formulari.where(status_id: 1).each do |f|%>
                            <li>
                              <a href="formularis/<%=f.id%>"><%= f.emri%> <%= f.mbiemri%>
                                <span class="label label-default"><%= f.pozita%></span>
                              </a>
                            </li>
                              <%end%>
                            <li class="divider"></li>
                            <li>
                              <%= link_to "View All", formularis_path %>
                            </li>
                      </ul>
              </li>
               <li>
                   <%= link_to "#{dil(session[:lan])}", destroy_user_session_path, :method => 'delete', class: "fa fa-sign-out", style: "margin-right:20px;" %>
              </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <%= link_to "#{paneli(session[:lan])}", dashboard_new_path, class: "fa fa-dashboard" %>
                    </li>
                    <li>
                        <%= link_to "#{appi(session[:lan])}", formularis_path, class: "fa fa-list" %>
                    </li>
                    <li   class="active">
                        <%= link_to "#{puntori(session[:lan])}", punetoris_path, class: "fa fa-users" %>
                    </li>
                    <li>
                        <%= link_to "#{pushimet(session[:lan])}" , pushimet_index_path, class: "fa fa-calendar" %>
                    </li>
                    <li>
                        <%= link_to "#{pozita(session[:lan])}", pozis_path, class: "fa fa-bars"  %>
                    </li>
                    <li>
                        <%= link_to "#{statusi(session[:lan])}", statuses_path, class: "fa fa-check-square-o" %>
                    </li>
                    <li>
                        <%= link_to "#{qytet(session[:lan])}", qytetets_path, class: "fa fa-building" %>
                    </li>
                    <li >
                        <%= link_to "#{gjuha(session[:lan])}",gjuhas_path, class: "fa fa-language" %>
                    </li>
                    <li>
                        <%= link_to "#{pc(session[:lan])}", pcs_path, class: "fa fa-laptop" %>
                    </li>
                    <li >
                        <%= link_to "#{refuzuar(session[:lan])}", refuzuars_path, class: "fa fa-adjust"  %>
                    </li>
                    <li >
                        <%= link_to "#{intervs(session[:lan])}", interviews_path, class: "fa fa-male"  %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div class="container">

                <%= form_for(@kontratum) do |f| %>
                  <% if @kontratum.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@kontratum.errors.count, "error") %> prohibited this kontratum from being saved:</h2>

                      <ul>
                      <% @kontratum.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="row">
                    <div class="right_things">
                      <div class="col-md-12 right_titull">
                         <p class="p_1">REG-6200-7</p><p style="padding-left:100px;">Kontratë Pune</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="top_pershkrimi">
                      <div class="col-md-12">
                        <p>Në mbështetje të nenit 10 të rregullores së .................-ut, nr 2001/27 për Ligjin Themelor të Punës, palët kontraktuese si subjekte të marrëdhënies juridike të punës lidhin këtë:</p>
                      </div>
                      <div class="col-md-12 top_titulli">
                        <h2>KONTRATË PUNE</h2>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="lidhja_mes">
                      <div class="col-md-12">
                        <p>E lidhur ndërmjet:</p>
                      </div>
                      <div class="col-md-12">

                      <p> (1) <b class="inputat"><%= @kontratum.biznesi %></b>
                          me seli ne Prishtinë, Republika e Kosovës dhe me numër të biznesit <b class="inputat"> <%= @kontratum.nr_biznesit %></b> të lëshuar nga Ministria e Tregtisë dhe Industrisë e Republikës së Kosovës, të cilën e përfaqëson Armend Osaj  nga një anë si punëdhënës
                      </p>
                      <p>dhe</p>
                      <p>
                          (2) <b class="inputat"><%= @kontratum.emri %></b>
                        / <b class="inputat"><%= @kontratum.emri_prindit %></b> / <b class="inputat"> <%= @kontratum.mbiemri %></b>, i lindur në
                            <b class="inputat"><%= @kontratum.vendlindja %></b> me datë
                           <b class="inputat"><%= @kontratum.ditelindja %></b>
                            me adresë  <b class="inputat"><%= @kontratum.adresa %></b>
                           / <b class="inputat"><%= @kontratum.qyteti %></b>
                            / <b class="inputat"><%= @kontratum.shteti %></b>dhe me numër të letërnjoftimit <b class="inputat"><%= @kontratum.leternjoftimi %></b>
                           të lëshuar nga Mentor Sahiti, nga ana tjetër si punëmarrës.
                      </p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="nenet">
                      <div class="col-md-12">
                        <h4 class="print_title">Neni 1</h4>
                        <p>
                          Punëdhënësi i ofron, ndërsa punëmarrësi pranon të themelojë marrëdhënie juridike të punës me punëdhënësin dhe   caktohet në vendin e punës
                          <b class="inputat"><%= @kontratum.pozita %></b>. <br>
                          Punët kryesore të këtij vendi të punës janë të përshkruara në përshkrimin e punës.<br>
                          Punëmarrësi është i detyruar të kryejë edhe punë tjera, për të cilat ka përgatitje profesionale dhe aftësi pune, për të   cilat urdhëron personi i autorizuar i punëdhënësit.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 2</h4>
                        <p>Kjo kontratë hyn në fuqi me datë <b class="inputat"><%= @kontratum.kontrata_prej %></b> dhe vlen deri me datë <b class="inputat"><%= @kontratum.kontrata_deri %></b></p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 3</h4>
                        <p>
                          Punëmarrësi do ti kryejë punët dhe detyrat në Prishtinë.<br>
                          Punëmarrësi është i njoftuar dhe pajtohet se gjatë kohës së punës mund të caktohet të punojë edhe në një tjetër vend pune, sipas nevojave të procesit të punës dhe kushteve të caktuara me ligj, përkatësisht në kontratë.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 4</h4>
                        <p>
                          Orari i plotë i punës efektive është <b class="inputat"><%= @kontratum.orari_jave %></b> orë pune në javë.<br>
                          Gjatë javës punohet <b class="inputat"><%= @kontratum.java_ditet %></b> ditë pune (nga e Hëna deri të Premten).
                          Orari ditor i punës fillon në orën <b class="inputat"><%= @kontratum.orari_from %></b> dhe përfundon në orën <b class="inputat"><%= @kontratum.orari_to %></b> .<br>
                          Brenda orarit ditor të punës është llogaritur edhe pauza prej <b class="inputat"><%= @kontratum.pauza %></b> minutash.<br>
                          Punëdhënësi mund ta ndryshoj orarin ditor të punës, sipas nevojës që kërkon puna.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 5</h4>
                        <p>
                          Punëmarrësi ka të drejtën e pushimit vjetor në kohëzgjatje prej <b class="inputat"> <%= @kontratum.pushimi_vjetore %></b> ditë pune.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 6</h4>
                        <p>
                          Paga themelore mujore për punëmarrësin, për këtë vend pune, caktohet në shumën prej <b class="inputat"><%= @kontratum.paga_kontrata %></b> € (me shkronja  <b class="inputat"><%= @kontratum.paga_text %></b> EURO) në muaj për normën e plotë të orarit të punës dhe rezultate të kënaqshme në punë.<br>
                          Pagesa bëhet çdo muaj, për muajin paraprak, përmes xhirollogarisë së punëmarrësit, te banka e autorizuar.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 7</h4>
                        <p>
                          Punëdhënësi obligohet të sigurojë dhe të zbatojë mjetet dhe masat e mbrojtjes në punë sipas normativave dhe   masave të parashikuar me ligj.<br>
                          Punëmarrësi është i detyruar t’iu përmbahet masave të caktuara të mbrojtjes në punë.
                        </p>
                      </div>
                      <div class="col-md-12">
                        <h4>Neni 8</h4>
                        <p>
                          Punëdhënësi dhe punëmarrësi janë të obliguar që t’i paguajnë të gjitha tatimet dhe kontributet e parapara me ligj.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 9</h4>
                        <p>
                          Punëdhënësi dhe punëmarrësi i pranojnë të gjitha të drejtat, obligimet dhe përgjegjësitë e caktuara me ligj dhe me  këtë kontratë.<br>
                          Për kontestin eventual të moszbatimit të kësaj kontrate, palët kontraktuese e pranojnë kompetencën e Gjykatës   Komunale në Prishtinë.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 10</h4>
                        <p>
                          Secila palë mund ta shkëputë këtë kontratë në mënyrë të një anshme, sipas kushteve dhe rasteve të caktuara me ligj duke paralajmëruar palën tjetër së paku dy javë para se ka ndërmend ta ndërpres kontratën.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 11</h4>
                        <p>
                          Në asnjë rast, dispozitat e kësaj kontrate nuk mund të jenë më pak të favorshme për punëmarrësin, se dispozitat e Ligjit, për sa u përket të drejtave dhe kushteve në marrëdhënien juridike të punës.<br>
                          Për rastet e paparashikuara në këtë kontratë, zbatohen drejtpërdrejt dispozitat përkatëse ligjore.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 12</h4>
                        <p>
                          Palët kontraktuese janë marrë vesh edhe për këto të drejta dhe obligime të veçanta, që nuk janë në kundërshtim me dispozitat e akteve më të larta ligjore.
                        </p>
                      </div>

                      <div class="col-md-12">
                        <h4>Neni 13</h4>
                        <p>
                          Palët kontraktuese u njoftuan për përmbajtjen e kësaj kontrate, kjo kontratë u nënshkrua në dy kopje autentike,nga të cilat secilës palë i mbetet nga një kopje.
                        </p>
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <div class="col-md-12">
                        <h4>Neni 14</h4>
                        <p>
                          Palët e nënshkruara në kontratë janë të njoftuara me rregullat dhe procedurat e kompanisë dhe janë në dijeni që në  rast të shkeljes së këtyre rregullave dhe procedurave do të pasojë ndëshkimi i njërës apo tjetrës palë në bazë të rregullave të caktuara apo edhe prishjes së kontratës së punës.
                        </p>
                      </div>

                      <div class="col-md-12", style="margin-top:10px; margin-bottom:10px;">
                        <div class="data">
                          <p>Prishtinë, me datë: <b class="inputat"><%= @kontratum.data_nenshkrimit %> </b></p>
                          </div>
                      </div>
                      <div class="col-md-12" style="margin-top:10px;">
                        <p> <i>Punëmarrësi:</i> ________________  <i style="padding-left:500px;">Punëdhënësi:</i> ________________</p>
                      </div>
                    </div>
                  </div>
                  <div class="printi">
                    <div class="backi">
                      <%= link_to "#{kth(session[:lan])}", punetoris_path, :class => "back_btn" %>

                        <%= link_to "Word", kontratum_path(format: "msword"), :class => "back_btn", style:"float:right;border-color:#337ab7"%>

                        <% link_to "PRINT", @kontrata_print %>
                     </div>
                     <div class="printi">
                        <%= link_to "Print", "#", onclick: "printPage()" , :class => "back_btn", style:"float:right;"%>
                      </div>
                    <% end %>
                  </div>
        </div>
</div>
  <% end %>

  <script>
    function printPage() {
    window.print()
        }
  </script>
