<div id="wrapper">
 <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          HRM Project
        </a>
      </li>
      <li>
        <%= link_to "#{paneli(session[:lan])}", dashboard_new_path%>
      </li>
      <li>
        <%= link_to "#{appi(session[:lan])}", formularis_path %>
      </li>
      <li>
        <%= link_to "#{rgj_pozita(session[:lan])}", new_punetori_path %>
      </li>
      <li>
      <%= link_to "#{pozita(session[:lan])}", pozis_path %>
    </li>
    <li>
      <%= link_to "#{statusi(session[:lan])}", statuses_path %>
    </li>
      <li>
        <%= link_to "#{puntori(session[:lan])}" %>
      </li>
      <li>
        <%= link_to "Pushimet" %>
      </li>
      <li>
        <%= link_to "#{qytet(session[:lan])}", qytetets_path %>
      </li>
      <li>
        <%= link_to "#{gjuha(session[:lan])}", gjuhas_path %>
      </li>
      <li>
        <%= link_to "#{pc(session[:lan])}", pcs_path %>
      </li>
          <li >
                        <%= link_to "Refuzuar", refuzuars_path%>
                    </li>
                    <li >
                        <%= link_to "Intervista", interviews_path%>
                    </li>
      <li>
        <%= link_to "Profili im" %>
      </li>
      <li>
        <%= link_to "Dil", destroy_user_session_path, :method => 'delete' %>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!--/Page Pozita -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h2><%= edit_qyteti(session[:lan]) %></h2><br>
      <div class="row">
        <div class="col-lg-12 border_punetor">
                <%= form_for(@qytetet) do |f| %>
                  <% if @qytetet.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@qytetet.errors.count, "error") %> prohibited this qytetet from being saved:</h2>

                      <ul>
                      <% @qytetet.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <div class="field">
                    <%= f.label :description %><br>
                    <%= f.text_field :description %>
                  </div>
                  <div class="actions">
                    <%= f.submit %>
                  </div>
                <% end %>
                <!-- /end Page Pozita -->
              </div>
              <!-- /#wrapper -->
