<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">UBT</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
      <li><%= link_to("En", "/formularis/index/?lan=en") %></li>
      <li><%= link_to("Al", "/formularis/index/?lan=al") %></li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell"></i>
          <b class = "numri">
          <%if Formulari.where(status_id: 1).count>0%>
              <%=Formulari.where(status_id: 1).count%>
          <%end%>
          </b>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu alert-dropdown">
        <%Formulari.where(status_id: 1).each do |f|%>
          <li>
            <a href="formularis/<%=f.id%>"><%= f.emri%> <%= f.mbiemri%>
              <span class="label label-default"><%= f.pozita%></span>
            </a>
          </li>
            <%end%>
          <li class="divider"></li>
          <li>
            <%= link_to "View All", formularis_path %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to "#{dil(session[:lan])}", destroy_user_session_path, :method => 'delete', class: "fa fa-sign-out", style: "margin-right:20px;" %>
      </li>
    </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <%= link_to "#{paneli(session[:lan])}", dashboard_new_path, class: "fa fa-dashboard" %>
                    </li>
                    <li  class="active">
                        <%= link_to "#{appi(session[:lan])}", formularis_path, class: "fa fa-list" %>
                    </li>
                    <li>
                        <%= link_to "#{puntori(session[:lan])}", punetoris_path, class: "fa fa-users" %>
                    </li>
                    <li>
                        <%= link_to "#{pushimet(session[:lan])}" , pushimet_index_path, class: "fa fa-calendar" %>
                    </li>
                    <li>
                        <%= link_to "#{pozita(session[:lan])}", pozis_path, class: "fa fa-bars"  %>
                    </li>
                    <li>
                        <%= link_to "#{statusi(session[:lan])}", statuses_path, class: "fa fa-check-square-o" %>
                    </li>
                    <li>
                        <%= link_to "#{qytet(session[:lan])}", qytetets_path, class: "fa fa-building" %>
                    </li>
                    <li >
                        <%= link_to "#{gjuha(session[:lan])}", gjuhas_path, class: "fa fa-language" %>
                    </li>
                    <li >
                        <%= link_to "#{pc(session[:lan])}", pcs_path, class: "fa fa-laptop" %>
                    </li>
                        <li >
                        <%= link_to "Refuzuar", refuzuars_path, class: "fa fa-adjust"%>
                    </li>
                    <li >
                        <%= link_to "Intervista", interviews_path, class: "fa fa-male"%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            <%= edit_title(session[:lan]) %>
                        </h2>
                         <% if notice %>
                          <p class="notice"><%= notice %></p>
                          <% elsif alert %>
                          <p class="alert"><%= alert %></p>
                          <% end %>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-list" style="color:#777;"></i>  <a style="color:#777;" href="#"><%= appi(session[:lan]) %></a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i><%= ndrysho(session[:lan]) %>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->



                <div class="row">
                    <div class="col-lg-12">
                        <div class="b_g_e">
                             <% if current_user.admin? %>

                                <%= form_for(@formulari) do |f| %>
                                          <div class="row">
                                              <div class="titujt_underline"><p><%= infop(session[:lan]) %></p></div>
                                              <div class="underline2"></div>
                                              <div class="col-md-12 editi">

                                                <div class="col-md-4"><%= f.label "#{for_po(session[:lan])}", style: "font-weight:none;" %></div>
                                              <div class="col-md-8"><strong>
                                                   <%@pozi.each do |p| %>
                                                        <% if p.id == @formulari.pozi_id %>
                                                        <%= p.description %>
                                                        <% end %>
                                                        <% end %>
                                                  </strong>
                                                </div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{name(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :emri, :readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{surname(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :mbiemri,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{birth_d(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><span class="datetime"><%= f.text_field :ditelindja, :order => [:day, :month,
                                                  :year], :start_year => 1910, :end_year => 2012,:readonly => true %></span></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{birth_p(session[:lan])}", style: "font-weight:none;" %></div>
                                                <div class="col-md-8"><strong>
                                                     <%@qytetets.each do |v| %>
                                                         <% if v.id == @formulari.qytetet_id %>
                                                         <%= v.description %>
                                                         <% end %>
                                                         <% end %>
                                                   </strong>
                                                 </div>
                                              </div>

                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{id_n(session[:lan])}" %></div>
                                               <div class="col-md-8"><strong><%= f.text_field :leternjoftimi,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{tel(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong> <%= f.text_field :tel,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label :email %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :email,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{adresa(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :adresa,:readonly => true %></strong></div>
                                              </div>
                                          </div>

                                          <div class="row">
                                            <div class="titujt_underline"><p><%= info_edu(session[:lan]) %></p></div>
                                            <div class="underline2"></div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{from(session[:lan])}"%></div>
                                                <div class="col-md-8"><strong><span class="datetime"><%= f.text_field :edukimi_from, :order => [:day, :month, :year], :start_year => 1910, :end_year => 2012 ,:readonly => true %></span></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{to(session[:lan])}" %></div>
                                                <div class="col-md-8">
                                                   <% if @formularis.ongoing == true %>
                                                      <b style="margin-bottom:0px;"><%= "Ongoing"%></b>

                                                      <%else%>
                                                <strong><span class="datetime"><%= f.text_field :edukimi_to, :order => [:day, :month, :year], :start_year => 1910, :end_year => 2012,:readonly => true %></span></strong>
                                                <%end%>
                                                </div>
                                              </div>

                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{inst(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :edukimi_institucioni,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{drejtimi(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :edukimi_drejtimi,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{shkalla(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :edukimi_titulli,:readonly => true %></strong></div>
                                              </div>
                                          </div>

                                          <div class="row">
                                            <div class="titujt_underline"><p><%= info_eksp(session[:lan]) %></p></div>
                                            <div class="underline2"></div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{from(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong> <span class="datetime"><%= f.text_field :eksperienca_from, :order => [:day, :month, :year], :start_year => 1910, :end_year => 2012,:readonly => true  %></span></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{to(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><span class="datetime"> <%= f.text_field :eksperienca_to, :order => [:day, :month, :year], :start_year => 1910, :end_year => 2012,:readonly => true %></span></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{inst(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :eksperienca_kompania,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{pozita(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :eksperienca_pozita,:readonly => true %></strong></div>
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="titujt_underline"><p><%= info_trajn(session[:lan]) %></p></div>
                                            <div class="underline2"></div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{from(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong> <span class="datetime"><%= f.text_field :trajnimi_from, :order => [:day, :month, :year], :start_year => 1910, :end_year => 2012,:readonly => true  %></span></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{to(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><span class="datetime"> <%= f.text_field :trajnimi_to, :order => [:day, :month, :year], :start_year => 1910, :end_year => 2012,:readonly => true %></span></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{inst(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :trajnimi_institucioni,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{pozita(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :trajnimi_drejtimi,:readonly => true %></strong></div>
                                              </div>
                                          </div>

                                          <div class="row">
                                            <div class="titujt_underline"><p><%= info_pergj(session[:lan]) %></p></div>
                                            <div class="underline2"></div>
                                            <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{gjuha(session[:lan])}", style: "font-weight:none;" %></div>
                                                    <div class="col-md-8"><strong>
                                                         <%@gjuhas.each do |g| %>
                                                             <% if g.id == @formulari.gjuha_id %>
                                                             <%= g.description %>
                                                             <% end %>
                                                             <% end %>
                                                       </strong>
                                                     </div>
                                              </div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{niveli_gj(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= f.text_field :gjuha_niveli,:readonly => true %></strong></div>
                                              </div>
                                              <div class="col-md-12 editi">
                                            <div class="col-md-4"><%= f.label :njohurit_kompjuterike,:readonly => true, style: "font-weight:none;" %></div>
                                            <div class="col-md-8"><strong>
                                                 <%@pcs.each do |p| %>
                                                     <% if p.id == @formulari.pc_id %>
                                                     <%= p.description %>
                                                     <% end %>
                                                     <% end %>
                                               </strong>
                                             </div>
                                          </div>
                                          </div>

                                        <div class="row">
                                            <div class="titujt_underline"><p><%= doc_shtes(session[:lan]) %></p></div>
                                            <div class="underline2"></div>
                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{ref_file(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= link_to "Download Reference", @formulari.referenca_file_url %></strong></div>
                                              </div>

                                              <div class="col-md-12 editi">
                                                <div class="col-md-4"><%= f.label "#{lm_upload(session[:lan])}" %></div>
                                                <div class="col-md-8"><strong><%= link_to "Download Leter", @formulari.letra_motivuese_url %></strong></div>
                                              </div>
                                        </div>

                                        <div class="row">
                                              <div class="col-md-12 editi">
                                                  <div class="col-md-4"><%= f.label :cv_file %></div>
                                                  <div class="col-md-8"><strong><%= link_to "Download CV", @formulari.cv_file_url %></strong>
                                                  </div>
                                              </div>
                                        </div>

                                        <div class="row">
                                              <div class="titujt_underline"><p><%= rotv(session[:lan]) %></p></div>
                                              <div class="underline2"></div>
                                                <div class="col-md-12 editi">
                                                <div class="col-md-4"> <%= f.label(:status_id)%></div>

                                                    <div class="col-md-8"><%= f.collection_select(:status_id, Status.all, :id, :description,prompt: true)%></div>

                                                </div>
                                                <div class="col-md-12 editi">
                                                  <div class="col-md-4"><%= f.label "#{intervista(session[:lan])}" %></div>
                                                  <div class="col-md-8"><strong><%= f.text_area :intervista, cols: "64", rows: "5", class: "d_textarea"%></strong></div>
                                                </div>
                                                <div class="col-md-12 editi">
                                                  <div class="col-md-4"><%= f.label "#{teste(session[:lan])}" %></div>
                                                  <div class="col-md-8"><strong><%= f.text_area :testet,cols: "64", rows: "5", class: "d_textarea" %></strong></div>
                                                </div>

                                                <div class="col-md-12 editi">
                                                  <div class="col-md-4"><td><%= link_to "#{kth(session[:lan])}" , formularis_path, :class => "back_btn", style: "margin-top: 35px;" %></td></div>
                                                  <div class="col-md-8">
                                                    <div class="actions formulari_btn">

                                                      <%= f.submit value = "#{update(session[:lan])}" %>
                                                    </div>
                                                  </div>
                                                </div>
                                        </div>

                        </div>
                        <% end %>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
  <% end %>
