<% if current_user.admin? %>
<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UBT</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
      <li><%= link_to("En", "/formularis/index/?lan=en") %></li>
      <li><%= link_to("Al", "/formularis/index/?lan=al") %></li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell"></i>
          <b class = "numri">
          <%if Formulari.where(status_id: 1).count>0%>
              <%=Formulari.where(status_id: 1).count%>
          <%end%>
          </b>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu alert-dropdown">
        <%Formulari.where(status_id: 1).each do |f|%>
          <li>
            <a href="formularis/<%=f.id%>"><%= f.emri%> <%= f.mbiemri%>
              <span class="label label-default"><%= f.pozita%></span>
            </a>
          </li>
            <%end%>
          <li class="divider"></li>
          <li>
            <%= link_to "View All", formularis_path %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to "#{dil(session[:lan])}", destroy_user_session_path, :method => 'delete', class: "fa fa-sign-out", style: "margin-right:20px;" %>
      </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li>
          <%= link_to "#{paneli(session[:lan])}", dashboard_new_path, class: "fa fa-dashboard" %>
        </li>
        <li class="active">
          <%= link_to "#{appi(session[:lan])}", formularis_path, class: "fa fa-list" %>
        </li>
        <li>
          <%= link_to "#{puntori(session[:lan])}", punetoris_path, class: "fa fa-users" %>
        </li>
        <li>
          <%= link_to "#{pushimet(session[:lan])}" , pushimet_index_path, class: "fa fa-calendar" %>
        </li>
        <li>
          <%= link_to "#{pozita(session[:lan])}", pozis_path, class: "fa fa-bars"  %>
        </li>
        <li>
          <%= link_to "#{statusi(session[:lan])}", statuses_path, class: "fa fa-check-square-o" %>
        </li>
        <li>
            <%= link_to "#{qytet(session[:lan])}", qytetets_path, class: "fa fa-building" %>
        </li>
        <li >
            <%= link_to "#{gjuha(session[:lan])}", gjuhas_path, class: "fa fa-language" %>
        </li>
        <li >
            <%= link_to "#{pc(session[:lan])}", pcs_path, class: "fa fa-laptop" %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div id="page-wrapper">

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">
            <%= appi(session[:lan]) %>
          </h2>
          <% if notice %>
          <p class="notice"><%= notice %></p>
          <% elsif alert %>
          <p class="alert"><%= alert %></p>
          <% end %>
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard" style="color:#777;"></i>
              <a style="color:#777;" href="index.html"><%= paneli(session[:lan]) %></a>
            </li>
            <li class="active">
              <i class="fa fa-list"></i><%= appi(session[:lan]) %>
            </li>
          </ol>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <div class="b_g">
            <div class="exeli">
              <%= link_to "Excel", formularis_path(format: "xls"), class: "butoni_e pull-right fa fa-upload ", style: "color: #777;"%>
            </div>
            <div class="seach pull-right">
              <%= search_form_for @search, url: search_formularis_path, method: :post do |f| %>
              <%= f.condition_fields do |c| %>
              <%= render "condition_fields", f: c %>
              <% end %>
              <% end %>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th>Check</th>
                    <th><%= pozita(session[:lan]) %></th>
                    <th><%= name(session[:lan]) %></th>
                    <th><%= surname(session[:lan]) %></th>
                    <th><%= statusi(session[:lan]) %></th>
                    <th><%= birth_d(session[:lan]) %></th>
                    <th><%= birth_p(session[:lan]) %></th>
                    <th><%= id_n(session[:lan]) %></th>
                    <th><%= tel(session[:lan]) %></th>
                    <th>Email</th>
                    <th><%= aksionet(session[:lan]) %></th>
                  </tr>
                </thead>
              <%=  form_tag( new_dergoemail_path, method: "get") do %>

                <% @formularis.reverse.each do |formulari| %>

                <tbody>
                <% if formulari.status_id !=2 %>
                  <tr>
                    <td><%=check_box_tag "num#{formulari.email}", formulari.email%></td>
                    <td>
                      <% @pozi.each do |p|%>
                      <%if p.id == formulari.pozi_id%>
                      <%= p.description %>
                      <%end%>
                      <%end%>
                    </td>

                    <td><%= formulari.emri %></td>
                    <td><%= formulari.mbiemri %></td>
                    <td><%@status.each do |s|%>
                      <%if s.id == formulari.status_id%>
                      <%= s.description %>
                      <%end%>
                      <%end%></td>
                    <td><%= formulari.ditelindja %></td>
                    <td>
                      <% @qytetets.each do |q|%>
                      <%if q.id == formulari.qytetet_id%>
                      <%= q.description %>
                      <%end%>
                      <%end%>
                    </td>
                    <td><%= formulari.leternjoftimi %></td>
                    <td><%= formulari.tel %></td>
                    <td><%= formulari.email %></td>
                  <% if can? :update, formulari %>
                  <td><%= link_to "#{show(session[:lan])}", formulari_path(formulari), class: "shiko"%>
                    <% end %>

                    <% if can? :update, formulari %>
                    <%= link_to "#{ndrysho(session[:lan])}", edit_formulari_path(formulari), class: "edit" %>
                    <% end %>

                    <% if can? :update, formulari %>
                    <%= link_to "#{fshije(session[:lan])}", formulari, method: :delete, data: { confirm: 'A jeni te sigurt?' }, class: "fshij" %>
                    <% end %>
                    <!--<%= link_to "#{sent(session[:lan])}",new_dergoemails_path(formulari), "data-toggle" => "modal", "data-target" => "#exampleModal" %>-->
                    <%end%>


                  </td>

                  <% end %>

                </tr>
                      <%= submit_tag "OK" %>
                  <% end %>
              </tbody>

            </table>
          <% else %>
          <div class="container" id="top_side">
            <div class="nav_content">
              <div class="row">
              <div class="col-sm-6 left_con">
                <%= link_to (image_tag "/assets/ubt.jpg"), formularis_path %>
              </div>
              <div class="col-sm-6 right_con">
                <h3>Job Application</h3>
              </div>
            </div>
            </div>
            <div class="line">
            </div>
          </div>

            <div class="container">
            <div id="juhu">
              <body style="background-color: #fff;">
                <div class="box">
                  <div class="title">
                    <p>Personal Information *</p>
                  </div>
                  <div class="info_personal">
                    <%= form_for Formulari.new do |f| %>
                    <form >
                      <fieldset class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= f.label("#{pozita(session[:lan])}")%></label>
                        <div class="col-sm-10">
                          <%= f.collection_select(:pozi_id, Pozi.all, :id, :description,prompt: true, class: "form-control p_s",placeholder: "Zgjidh poziten")%>
                        </div>
                      </fieldset>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= name(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :emri, class: "form-control ",placeholder: "#{name(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= surname(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :mbiemri, class: "form-control",placeholder: "#{surname(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= birth_d(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :ditelindja, class: "form-control datepicker",placeholder: "Shtyp daten dd/mm/yyyy"%>
                        </div>
                      </div>

                      <fieldset class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= f.label("#{birth_p(session[:lan])}")%></label>
                        <div class="col-sm-10">
                          <%= f.collection_select(:qytetet_id, Qytetet.all, :id, :description,prompt: true, class: "form-control p_s",placeholder: "Zgjidh Vendlindjen")%>
                        </div>
                      </fieldset>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= id_n(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :leternjoftimi, class: "form-control",placeholder: "#{id_n(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= tel(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :tel, class: "form-control",placeholder: "#{tel(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Email</label>
                        <div class="col-sm-10">
                          <%= f.text_field :email, class: "form-control",placeholder: "Email"%>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= adresa(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :adresa, class: "form-control",placeholder: "#{adresa(session[:lan])}"%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <div class="title">
                      <p>Education *</p>
                    </div>
                    <div class="info_personal">
                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= from(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :edukimi_from, class: "form-control datepicker",placeholder: "Shtyp daten dd/mm/yyyy"%>
                        </div>
                      </div>

                            <div class="form-group row">
                              <label class="col-sm-2 form-control-label"><%= to(session[:lan]) %></label>
                              <div class="col-sm-10">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <%= f.text_field :edukimi_to, class: "form-control datepicker",placeholder: "Shtyp daten dd/mm/yyyy"%>
                                    </div>
                                    <div class="col-sm-6" style="display:inline-flex;">
                                    Ongoing: <%= f.check_box :ongoing, style: "margin-right:350px" %>
                                 </div>
                                </div>
                              </div>

                          </div>
                          <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= inst(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :edukimi_institucioni, class: "form-control",placeholder: "#{inst(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= drejtimi(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :edukimi_drejtimi, class: "form-control",placeholder: "#{drejtimi(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= shkalla(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :edukimi_titulli, class: "form-control",placeholder: "#{shkalla(session[:lan])}"%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="box">
                    <div class="title">
                      <p>Experience *</p>
                    </div>
                    <div class="info_personal">
                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= from(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :eksperienca_from, class: "form-control datepicker",placeholder: "#{from(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= to(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :eksperienca_to, class: "form-control datepicker",placeholder: "#{to(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= inst(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :eksperienca_kompania, class: "form-control",placeholder: "#{inst(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= pozita(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.text_field :eksperienca_pozita, class: "form-control",placeholder: "#{pozita(session[:lan])}"%>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="box">
                    <div class="title">
                      <p>Language *</p>
                    </div>
                    <div class="info_personal">
                      <fieldset class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= f.label("#{gjuha(session[:lan])}")%></label>
                        <div class="col-sm-10">
                          <%= f.collection_select(:gjuha_id, Gjuha.all, :id, :description,prompt: true, class: "form-control p_s",placeholder: "Zgjidh Gjuhen")%>
                        </div>
                      </fieldset>
                      <div class="form-group row">
                          <label class="col-sm-2 form-control-label"><%= niveli_gj(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <div class="col-sm-2">
                             <%= f.label :gjuha_niveli, "Mire", :value => "Mire"  %>
                           </div>
                           <div class="col-sm-2">
                             <%= f.radio_button :gjuha_niveli, "Mire"%>
                           </div>
                           <div class="col-sm-2">
                             <%= f.label :gjuha_niveli, "Shum Mire", :value => "Shum Mire"  %>
                           </div>
                           <div class="col-sm-2">
                             <%= f.radio_button :gjuha_niveli, "Shum mire"%>
                           </div>
                           <div class="col-sm-2">
                             <%= f.label :gjuha_niveli, "Shkelqyshem", :value => "Shkelqyshem" %>
                           </div>
                            <div class="col-sm-2">
                             <%= f.radio_button :gjuha_niveli, "Shkelqyshem" %>
                           </div>

                        </div>
                      </div>
                      </div>
                      </div>

                  <div class="box">
                    <div class="title">
                      <p>Computer Skills *</p>
                    </div>
                    <div class="info_personal">
                      <fieldset class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= f.label("#{pc_s(session[:lan])}")%></label>
                        <div class="col-sm-10">
                          <%= f.collection_select(:pc_id, Pc.all, :id, :description,prompt: true, class: "form-control p_s",placeholder: "Zgjidh pc")%>
                        </div>
                      </fieldset>
                    </div>
                  </div>


                  <div class="box">
                    <div class="title">
                      <p>Others *</p>
                    </div>
                    <div class="info_personal">
                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= ref_file(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.file_field :referenca_file, class: "form-control",placeholder: "#{ref_file(session[:lan])}"%>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label"><%= lm_upload(session[:lan]) %></label>
                        <div class="col-sm-10">
                          <%= f.file_field :letra_motivuese, class: "form-control",placeholder: "#{lm_upload(session[:lan])}"%>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 form-control-label">CV file:</label>
                        <div class="col-sm-10">
                          <%= f.file_field :cv_file, class: "form-control",placeholder: "#{upload(session[:lan])}"%>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if current_user.admin? %>
                  <div class="form-group row">
                    <label class="col-sm-2 form-control-label">CV file:</label>
                    <div class="col-sm-10">
                      <%= link_to "Download CV", @formulari.cv_file_url, class: "form-control",placeholder: "#{upload(session[:lan])}" %>
                    </div>
                        <% end %>
                    </div>
                  </div>

                    </div>
                  </div>

                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-body">
                            <h3 class="text-center">A jeni te sigurt per aplikim?</h3>
                          </div>
                          <div class="modal-footer">
                          <button id="submit_close_modal" onClick="submit_formulari()" type="button" class="btn btn-default" data-dismiss="modal">PO</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"  style="margin-bottom:50px;margin-right:240px;">JO</button>


                          </div>
                        </div>

                      </div>
                    </div>
                  <div class="container" id="butonat">
                    <div class="form-group row">
                      <div class="col-sm-12">

                          <button type="button" class:"btn btn-secondary btn_apliko" data-toggle="modal" data-target="#myModal" style="float:right;border: 1px solid rgb(232, 232, 232); background-color: #e8e8e8; border-radius: 5px;padding:5px 15px;color: #337ab7;">Apply</button>
                        <%= link_to "Sign out", destroy_user_session_path, :method => 'delete', class: "btn btn-secondary btn_apliko" %>
                      </div>
                    </div>
                    <%= f.hidden_field :status_id, :value => 1 %>
                  </div>
                </div>
              </body>
            </div>
              <div id="testi">

                <p id="te" class="text-center" style="font-size:20px;color:#337ab7;"></p>
                <p id="img" style="display:none;text-align:center;margin-top:100px;"><%= image_tag 'animation.gif' %></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

  </div>
  <!-- /#page-wrapper -->

</div>
<% end %>
<% end %>
<script type="text/javascript">
      $("#submit_close_modal").click(function(){

    });

    function submit_formulari()
    {
      document.getElementById("new_formulari").submit();
      $("#img").css("display","block");
      $("#juhu").hide();
      $("#butonat").hide();
      $("#top_side").hide();
      $("#te").html("Ju lutem prsini, aplikacioni po procesohet.");
    }

</script>
